body{
	color: #5D5D5D;
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	position: relative;
	font-family: androgyne, sans-serif, Verdana, Arial, "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック";
}

body #wrapper{
	width: 100%;
	height: 100%;
	position: fixed;
}

.ball{
	opacity: 0;
	position: fixed;
}

.initial{
	opacity: 0;
	position: fixed;
	text-shadow:
		-1px -1px #FFF,
		1px -1px #FFF,
		-1px 1px #FFF,
		1px 1px #FFF;
}

.text{
	opacity: 0;
	position: fixed;
	text-shadow:
		-1px -1px #FFF,
		1px -1px #FFF,
		-1px 1px #FFF,
		1px 1px #FFF;
}

#cat{
	opacity: 0;
}

#nikukyu{
	opacity: 0;
}

.details{
	opacity: 0;
}

@font-face{
	font-family: 'androgyne';
	src: url("fonts/androgyne.off");
}
